<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ACADLY - Categoria</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Overlock+SC&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  
</head>

<body class="page-categoria">

  <header class="navbar-principal">
    <div class="navbar-left">
      <img src="/img/Logo.png" alt="Logo ACADLY" class="navbar-logo">
    </div>
    <div class="navbar-right">
      <div class="search-box">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Buscar...">
      </div>
      <img src="/img/Perfil.png" alt="Usuário" class="user-icon" />
    </div>
  </header>

  <main class="content-wrapper">
    <section class="category-hero-section">
      <h1>Educação e Pedagogia</h1>
      <img src="/img/imagemEducacaoPedagogia.png" alt="Ilustração da categoria Educação e Pedagogia">
    </section>

    <section class="event-list-section">
      <h2 class="list-section-title">Metodologias Ativas de Aprendizagem</h2>
      <div class="event-list-grid">
        <div class="event-list-card">
          <img src="/img/ciaed.png" alt="Logo do Evento">
          <div class="card-info">
            <span class="card-title">Flipped Room</span>
            <span class="card-location">Rio de Janeiro, RJ</span>
            <span class="card-date">26 de Dezembro</span>
          </div>
        </div>
        <div class="event-list-card">
          <img src="/img/ciaed.png" alt="Logo do Evento">
          <div class="card-info">
            <span class="card-title">CIAED</span>
            <span class="card-location">Rio de Janeiro, RJ</span>
            <span class="card-date">26 de Dezembro</span>
          </div>
        </div>
        <div class="event-list-card">
          <img src="/img/ciaed.png" alt="Logo do Evento">
          <div class="card-info">
            <span class="card-title">Como estudar?</span>
            <span class="card-location">Rio de Janeiro, RJ</span>
            <span class="card-date">26 de Dezembro</span>
          </div>
        </div>
      </div>
    </section>

  </main>

  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-column about">
          <h3 class="footer-title">Acadly Eventos</h3>
          <p class="footer-links"> Organize e encontre seus eventos de maneira fácil e organizada. Além disso, você pode
            acessar seus certificados e acompanhar o calendário de eventos da sua universidade.</p>
        </div>
        <div class="col-md-3 footer-column platform">
          <h3 class="footer-title">Plataforma</h3>
          <ul class="footer-links">
            <li>Criar Evento</li>
            <li>Emitir Certificados</li>
            <li>Inscrição em Eventos</li>
            <li>Autenticar Certificados</li>
            <li>Planos e Preço</li>
            <li>Ajuda</li>
          </ul>
        </div>
        <div class="col-md-3 footer-column products">
          <h3 class="footer-title">Produtos</h3>
          <ul class="footer-links">
            <li>Autentificador de certificados</li>
            <li>Gerador de currículo</li>
            <li>Blog</li>
            <li>Perguntas Frequentes</li>
          </ul>
        </div>
        <div class="col-md-3 footer-column contact">
          <h3 class="footer-title">Canais de Comunicação</h3>
          <div class="contact-info">
            <div class="contact-item">
              <img src="/img/icone telefone - paginaInicial.png" alt="Telefone" class="contact-icon" />
              <span>(33) 98686-8686</span>
            </div>
            <div class="contact-item">
              <img src="/img/icone arroba - paginaInicial.png" alt="Email" class="contact-icon" />
              <span>acadly@gmail.com</span>
            </div>
            <div class="contact-item">
              <img src="/img/icone hashtag - paginaInicial.png" alt="Social" class="contact-icon" />
              <span>acadly_oficial</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>