<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACADLY - Meus Certificados</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Overlock+SC&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="page-meus-eventos">

    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="/img/Logo.png" alt="Foto de Perfil de Rebeca Mattos">

        </div>

        <nav class="nav-menu">
            <details>
                <summary>ORGANIZADOR DE EVENTOS</summary>
                <ul>
                    <li><a href="/Tela Organizador.html" class="active"><i class="icon fa-solid fa-calendar"></i> Meus Eventos</a>
                    </li>
                    <li><a href="/Tela Participante_Participar.html"><i class="icon fa-solid fa-ticket"></i> Criar um Evento</a></li>
                    <li><a href="#"><i class="icon fa-solid fa-paper-plane"></i> Gerenciar Participantes</a></li>
                    <li><a href="/TelaParticipante_BaixarCertificado.html"><i class="icon fa-solid fa-file-arrow-down"></i> Gerenciar Submissões</a></li>
                    <li><a href="/TelaParticipante_BaixarCertificado.html"><i class="icon fa-solid fa-file-arrow-down"></i>Emitir Certificado</a></li>
                </ul>
            </details>

            <details open>
                <summary>PARTICIPANTE DE EVENTOS</summary>
                <ul>
                    <li><a href="/html/painelEventos.html" class="active"><i class="icon fa-solid fa-calendar"></i> Meus Eventos</a></li>
                    <li><a href="/html/Tela Participante_Participar.html"><i class="icon fa-solid fa-ticket arrasta"></i> Participar de um Evento</a></li>
                    <li><a href="#"><i class="icon fa-solid fa-paper-plane"></i> Realizar Submissões</a></li>
                    <li><a href="/html/TelaParticipante_BaixarCertificado.html"><i class="icon fa-solid fa-file-arrow-down"></i> Baixar Certificados</a></li>
                </ul>
            </details>
        </nav>
    </aside>

    <main class="main-content">

        <header class="main-header">
            <div class="user-profile">
                <img src="/img/Perfil.png" alt="Foto de Perfil de Rebeca Mattos">
                <div class="user-text">
                    <div class="user-name">Rebeca Mattos <a href="/html/perfil.html"> <img src="/img/editar.png" alt="Editar Perfil"> </a></div>
                    <div class="user-institution">IFSEMG</div>
                </div>
            </div>
            <div class="header-actions">
                <i class="fa-regular fa-circle-question"></i>
                <i class="fa-regular fa-bell"></i>
                <i class="fa-solid fa-gear"></i>
            </div>
        </header>

        <section class="events-section">
            <h2>Meus Certificados</h2>
            <div class="events-grid">
                <div class="event-card">
                    <img src="/img/ciaed.png" alt="Logo 30º CIAED" class="event-logo">
                    <div class="event-details">
                        <span class="event-title">30º CIAED</span>
                        <span class="event-date">23 DE MAIO DE 2025</span>
                    </div>
                    <button class="edit-button">Baixar</button>
                </div>
                <div class="event-card">
                    <img src="/img/ciaed.png" alt="Logo NEABI" class="event-logo">
                    <div class="event-details">
                        <span class="event-title">BETT BRASIL</span>
                        <span class="event-date">28 DE MAIO DE 2025</span>
                    </div>
                    <button class="edit-button">Baixar</button>
                </div>
                <div class="event-card">
                    <img src="/img/ciaed.png" alt="Logo 30º CIAED" class="event-logo">
                    <div class="event-details">
                        <span class="event-title">30º CIAED</span>
                        <span class="event-date">23 DE MAIO DE 2025</span>
                    </div>
                    <button class="edit-button">Baixar</button>
                </div>
            </div>
            <a href="#" class="view-more">VER MAIS</a>
        </section>

    </main>

</body>

</html>