<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACADLY - Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Overlock+SC&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="page-full-layout">

    <aside class="registration-promo">
        <img src="/img/Circulo cadastro.png" alt="Ilustração decorativa">
    </aside>

    <main class="registration-main">
        <div class="form-wrapper">
            <header class="form-header-cadastro">
                <img src="/img/Logo.png" alt="Logo ACADLY" class="form-logo">
            </header>

            <form>
                <div class="input-group-underline">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" placeholder="Email:">
                </div>
                <div class="input-group-underline">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" placeholder="Senha:">
                </div>
                
                <div class="form-actions-login">
                    <a href="#" class="forgot-password">Esqueceu sua senha?</a>
                    <button type="submit" class="btn-principal">Login</button>
                </div>
            </form>
            
            <hr class="divider-login">

            <div class="social-login">
                <a href="#">Ou faça seu login pela sua Conta Google</a>
            </div>
        </div>
    </main>
</body>
</html>