<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="diminuir">
    <div class="meus-eventos">
      <div class="div">
        <div class="overlap">
          <div class="text-wrapper">ver mais</div>
          <div class="text-wrapper-2">ver mais</div>
          <div class="text-wrapper-3">Eventos antigos</div>
          <div class="overlap-group">
            <div class="grupo-de">
              <div class="card">
                <div class="overlap-group-2">
                  <div class="overlap-2">
                    <div class="overlap-3">
                      <p class="p">23 de Maio de 2025</p>
                      <div class="text-wrapper-4">30º CIAED</div>
                    </div>
                    <div class="icone-delete"><img class="vector" src="img/vector-5.svg" /></div>
                  </div>
                  <img class="element" src="img/20084-1.png" />
                  <div class="boto-cadastro">
                    <div class="div-wrapper"><div class="text-wrapper-5">Editar</div></div>
                  </div>
                </div>
              </div>
              <div class="overlap-wrapper">
                <div class="overlap-4">
                  <div class="overlap-group-wrapper">
                    <div class="overlap-group-2">
                      <div class="rectangle"></div>
                      <div class="text-wrapper-6">Editar</div>
                    </div>
                  </div>
                  <p class="text-wrapper-7">23 de Maio de 2025</p>
                  <div class="text-wrapper-8">30º CIAED</div>
                  <img class="img" src="img/20084-1-4.png" />
                  <div class="vector-wrapper"><img class="vector" src="img/vector.svg" /></div>
                </div>
              </div>
              <div class="div-2">
                <div class="overlap-group-2">
                  <div class="boto-cadastro-2">
                    <div class="div-wrapper"><div class="text-wrapper-9">Editar</div></div>
                  </div>
                  <div class="overlap-5">
                    <div class="overlap-6">
                      <p class="p">23 de Maio de 2025</p>
                      <div class="text-wrapper-4">30º CIAED</div>
                    </div>
                    <div class="icone-delete"><img class="vector" src="img/vector-15.svg" /></div>
                  </div>
                  <img class="element" src="img/20084-1-2.png" />
                </div>
              </div>
            </div>
            <div class="grupo-de">
              <div class="card">
                <div class="overlap-group-2">
                  <div class="overlap-2">
                    <div class="overlap-3">
                      <p class="p">23 de Maio de 2025</p>
                      <div class="text-wrapper-4">30º CIAED</div>
                    </div>
                    <div class="icone-delete"><img class="vector" src="img/vector-3.svg" /></div>
                  </div>
                  <img class="element" src="img/image.png" />
                  <div class="boto-cadastro">
                    <div class="div-wrapper"><div class="text-wrapper-5">Editar</div></div>
                  </div>
                </div>
              </div>
              <div class="overlap-wrapper">
                <div class="overlap-4">
                  <div class="overlap-group-wrapper">
                    <div class="overlap-group-2">
                      <div class="rectangle"></div>
                      <div class="text-wrapper-6">Editar</div>
                    </div>
                  </div>
                  <p class="text-wrapper-7">23 de Maio de 2025</p>
                  <div class="text-wrapper-8">30º CIAED</div>
                  <img class="img" src="img/20084-1-3.png" />
                  <div class="vector-wrapper"><img class="vector" src="img/vector-29.svg" /></div>
                </div>
              </div>
              <div class="div-2">
                <div class="overlap-group-2">
                  <div class="boto-cadastro-2">
                    <div class="div-wrapper"><div class="text-wrapper-9">Editar</div></div>
                  </div>
                  <div class="overlap-5">
                    <div class="overlap-6">
                      <p class="p">23 de Maio de 2025</p>
                      <div class="text-wrapper-4">30º CIAED</div>
                    </div>
                    <div class="icone-delete"><img class="vector" src="img/vector-23.svg" /></div>
                  </div>
                  <img class="element" src="img/20084-1-5.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="grupo-de-cards">
            <div class="card">
              <div class="overlap-group-2">
                <div class="overlap-2">
                  <div class="overlap-3">
                    <p class="p">23 de Maio de 2025</p>
                    <div class="text-wrapper-4">30º CIAED</div>
                  </div>
                  <div class="icone-delete"><img class="vector" src="img/image.svg" /></div>
                </div>
                <img class="element" src="img/20084-1-8.png" />
                <div class="boto-cadastro">
                  <div class="div-wrapper"><div class="text-wrapper-5">Editar</div></div>
                </div>
              </div>
            </div>
            <div class="overlap-wrapper">
              <div class="overlap-4">
                <div class="overlap-group-wrapper">
                  <div class="overlap-group-2">
                    <div class="rectangle"></div>
                    <div class="text-wrapper-6">Editar</div>
                  </div>
                </div>
                <p class="text-wrapper-7">23 de Maio de 2025</p>
                <div class="text-wrapper-8">30º CIAED</div>
                <img class="img" src="img/20084-1-6.png" />
                <div class="vector-wrapper"><img class="vector" src="img/vector-26.svg" /></div>
              </div>
            </div>
            <div class="div-2">
              <div class="overlap-group-2">
                <div class="boto-cadastro-2">
                  <div class="div-wrapper"><div class="text-wrapper-9">Editar</div></div>
                </div>
                <div class="overlap-5">
                  <div class="overlap-6">
                    <p class="p">23 de Maio de 2025</p>
                    <div class="text-wrapper-4">30º CIAED</div>
                  </div>
                  <div class="icone-delete"><img class="vector" src="img/vector-2.svg" /></div>
                </div>
                <img class="element" src="img/20084-1-7.png" />
              </div>
            </div>
          </div>
          <div class="overlap-7">
            <div class="grupo-de">
              <div class="card">
                <div class="overlap-group-2">
                  <div class="overlap-2">
                    <div class="overlap-3">
                      <p class="p">28 de Maio de 2025</p>
                      <div class="text-wrapper-4">Bett Brasil</div>
                    </div>
                    <div class="icone-delete"><img class="vector" src="img/vector-31.svg" /></div>
                  </div>
                  <div class="boto-cadastro">
                    <div class="div-wrapper"><div class="text-wrapper-5">Editar</div></div>
                  </div>
                </div>
              </div>
              <div class="div-3">
                <div class="overlap-group-2">
                  <div class="boto-cadastro-2">
                    <div class="div-wrapper"><div class="text-wrapper-9">Editar</div></div>
                  </div>
                  <div class="overlap-2">
                    <div class="overlap-3">
                      <p class="p">28 de Maio de 2025</p>
                      <div class="text-wrapper-4">Bett Brasil</div>
                    </div>
                    <div class="icone-delete"><img class="vector" src="img/vector-18.svg" /></div>
                  </div>
                </div>
              </div>
              <div class="div-2">
                <div class="overlap-group-2">
                  <div class="boto-cadastro-2">
                    <div class="div-wrapper"><div class="text-wrapper-9">Editar</div></div>
                  </div>
                  <div class="overlap-8">
                    <div class="overlap-9">
                      <p class="text-wrapper-10">28 de Maio de 2025</p>
                      <div class="text-wrapper-4">Bett Brasil</div>
                    </div>
                    <div class="img-wrapper"><img class="vector" src="img/vector-20.svg" /></div>
                  </div>
                </div>
              </div>
            </div>
            <img class="NEABI-pronto-fundo" src="img/NEABI-pronto-fundo-2-1.png" />
            <img class="NEABI-pronto-fundo-2" src="img/NEABI-pronto-fundo-2-2.png" />
            <img class="NEABI-pronto-fundo-3" src="img/NEABI-pronto-fundo-2-3.png" />
          </div>
          <div class="grupo-de-2">
            <div class="card">
              <div class="overlap-group-2">
                <div class="overlap-2">
                  <div class="overlap-3">
                    <p class="p">28 de Maio de 2025</p>
                    <div class="text-wrapper-4">Bett Brasil</div>
                  </div>
                  <div class="icone-delete"><img class="vector" src="img/vector-11.svg" /></div>
                </div>
                <div class="boto-cadastro">
                  <div class="div-wrapper"><div class="text-wrapper-5">Editar</div></div>
                </div>
                <img class="download" src="img/download-1-2.png" />
              </div>
            </div>
            <div class="div-3">
              <div class="card-2">
                <div class="overlap-group-2">
                  <div class="boto-cadastro-2">
                    <div class="div-wrapper"><div class="text-wrapper-9">Editar</div></div>
                  </div>
                  <div class="overlap-2">
                    <div class="overlap-3">
                      <p class="p">28 de Maio de 2025</p>
                      <div class="text-wrapper-4">Bett Brasil</div>
                    </div>
                    <div class="icone-delete"><img class="vector" src="img/vector-21.svg" /></div>
                  </div>
                </div>
              </div>
              <img class="download-2" src="img/download-1.png" />
            </div>
            <div class="div-2">
              <div class="card-2">
                <div class="overlap-group-2">
                  <div class="boto-cadastro-2">
                    <div class="div-wrapper"><div class="text-wrapper-9">Editar</div></div>
                  </div>
                  <div class="overlap-8">
                    <div class="overlap-9">
                      <p class="text-wrapper-10">28 de Maio de 2025</p>
                      <div class="text-wrapper-4">Bett Brasil</div>
                    </div>
                    <div class="img-wrapper"><img class="vector" src="img/vector-16.svg" /></div>
                  </div>
                </div>
              </div>
              <img class="download-3" src="img/download-2.png" />
            </div>
          </div>
          <div class="cabealho">
            <div class="overlap-10"><img class="vector-2" src="img/vector-22.svg" /></div>
            <div class="text-wrapper-11">Eventos em Destaque</div>
          </div>
        </div>
        <div class="overlap-11">
          <div class="logo">
            <div class="overlap-group-3">
              <img class="clip-path-group" src="img/clip-path-group-3.png" />
              <img class="clip-path-group-2" src="img/clip-path-group-2.png" />
            </div>
            <div class="group"></div>
            <div class="group-2"></div>
            <div class="group-3"></div>
            <div class="group-4"></div>
            <div class="overlap-12">
              <div class="group-5"></div>
              <div class="group-6"></div>
            </div>
          </div>
          <div class="participante">
            <div class="text-wrapper-12">Participante de Eventos</div>
            <div class="arrow-drop-down"><img class="vector-3" src="img/vector-9.svg" /></div>
          </div>
          <div class="organizador">
            <div class="text-wrapper-12">Organizador de Eventos</div>
            <div class="arrow-drop-down"><img class="vector-4" src="img/vector-27.svg" /></div>
            <div class="icone-meus-eventos"><img class="vector-5" src="img/vector-17.svg" /></div>
            <div class="text-wrapper-13">Meus Eventos</div>
            <div class="text-wrapper-14">Criar um novo Evento</div>
            <div class="text-wrapper-15">Gerenciar participantes</div>
            <div class="text-wrapper-16">Gerenciar submissões</div>
            <div class="text-wrapper-17">Avaliações</div>
            <div class="icone-participante"><img class="vector-6" src="img/vector-28.svg" /></div>
            <div class="icone-avaliao"><img class="vector-7" src="img/vector-13.svg" /></div>
            <div class="icone-gerenciar"><img class="vector-8" src="img/vector-6.svg" /></div>
            <div class="icone-criar-evento"><img class="vector-8" src="img/vector-10.svg" /></div>
          </div>
        </div>
        <div class="perfil">
          <div class="text-wrapper-18">Rebeca mattos</div>
          <div class="wand-stars"><img class="vector-9" src="img/vector-32.svg" /></div>
          <div class="help"><img class="vector-8" src="img/vector-4.svg" /></div>
          <div class="notifications"><img class="vector-10" src="img/vector-8.svg" /></div>
          <div class="text-wrapper-19">IFSEMG</div>
          <img class="icone-perfil" src="img/icone-perfil.svg" />
          <div class="settings"><img class="vector-8" src="img/vector-25.svg" /></div>
        </div>
      </div>
    </div>
  </body>
</html>
